.chess-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    width: 800px;
    margin: 3vh auto;
}

.white{
    width: 100px;
    height: 100px;
    background-color: #f0d9b5;
}

.black{
    width: 100px;
    height: 100px;
    background-color: #b58863;
}